{
    path: '${pathName}/list',
        component: _import("${moduleName}/${pathName}/list"),
    name: '${classname}List',
    meta: {title: '${comments}', cache: false}
},
{
    path: '${pathName}/add',
        component: _import("${moduleName}/${pathName}/form"),
    name: '${classname}AddForm',
    meta: {title: '添加${comments}'},
    hidden : true
},
{
    path: '${pathName}/edit/:${pk.attrname}',
        component: _import("${moduleName}/${pathName}/form"),
    name: '${classname}EditForm',
    meta: {title: '编辑${comments}'},
	hidden : true
},
